<div>
      <div class="fixed top-0 left-0 -z-50 bg-hero-image bg-no-repeat bg-bottom bg-contain bg-blend-normal saturation-125 contrast-125 opacity-70 w-full h-full bg-misty-rose"></div>
      <div class="max-w-xl container px-6 py-16 mx-auto text-center sm:bg-white sm:bg-opacity-90 sm:rounded-lg">
        <div class="max-w-lg mx-auto">
          <h1 class="text-6xl font-bold font-heading text-tomato-400">
            Your home away from home
          </h1>

          <p class="mt-6 text-lg text-gray-400">
            rent bedspaces, rooms, and houses at convenient locations
          </p>

          <div class="flex flex-col">
              <div class="grid place-items-center w-full">
              <%= form_tag(properties_path, method: :get, class: "w-3/4 flex flex-col items-middle justify-center") do%>
                  <div data-controller="searchplace" data-action="google-maps-callback@window->searchplace#initAutocomplete" class="home-search-container m-0 flex">
                      <input
                          type="text" id="address" autocomplete="off" 
                          data-action="keyup->searchplace#initializeSearch" data-searchplace-target="address"
                          placeholder="Enter your preferred area or landmark"
                          class="home-search w-full m-0"
                      />
                      <input type="hidden" name="property[location_lat]" data-searchplace-target="lat">
                      <input type="hidden" name="property[location_lng]" data-searchplace-target="lng">
                      <button data-action="click->searchplace#findMyLocation"><ion-icon name="location-outline" class="w-8 h-8 mr-3 text-gray-400"></ion-icon></button>
                  </div>
                  <%= submit_tag "search", class: "flex items-middle justify-center m-3  mx-auto btn-primary bg-tomato-400 w-full cursor-pointer" %>
              <%end%>
          </div>
          </div>
        </div>
      </div>
    </div>