<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>



<%if current_tenant %>
    <%= link_to "Sign out", destroy_tenant_session_path,
        'data-turbo-method': :delete %>
    <% else %>
        <p>You are not signed in.</p>
    <%= link_to "Sign_up" , new_tenant_registration_path%>
    <br/>
    <%= link_to "Login", new_tenant_session_path%>
<% end %>