<section class = "main">
    <div class="grid place-items-center">
        <div>
            <img src="https://res.cloudinary.com/dbegssigw/image/upload/v1653328986/bhouse_app/undraw_Location_search_re_ttoj_opnquk.png" alt="error">
        </div>
        <h1 class="font-heading text-2xl text-gray-500">500</h1>
        <h1 class="font-heading text-2xl text-gray-500">internal server error</h1>
    </div>
</section>