
<%if current_owner %>
  <div class="center-form-container border-gray-500 shadow-md p-5">
    <h1 class="font-bold text-2xl text-gray-500">Request for payment</h1>

    <%= render "form", transaction: @transaction %>
    <div class="links">
      <%= link_to 'Back to transactions', transactions_path %>
    </div>
  </div>
<%end%>


