
<%if current_owner %>
  <div class="center-form-container">
    <h1 class="font-bold text-4xl">New transaction</h1>

    <%= render "form", transaction: @transaction %>
    <div class="links">
      <%= link_to 'Back to transactions', transactions_path %>
    </div>
  </div>
<%end%>


