    <div class=alert-container>
      <% flash.each do |type, msg| %>
        <% if type == "notice" %>
          <div class="alert alert-success">
        <% elsif type == "alert" %>
          <div class="alert alert-danger">
        <% else %>
          <div class='alert alert-<%= "#{type}" %>'>
        <% end %>
        <ul>
          <li>
            <%= msg %>
          </li>
        </ul>
        <a href="#" class="close" data-dismiss="alert"><ion-icon name="close-sharp"></ion-icon></a>
      <% end %>  
    </div>